streamlit==0.75.0
pandas==0.24.1
requests==2.22.0
Flask==1.1.1
Flask_Cors==3.0.8
gunicorn==19.9.0
pandas_profiling==2.10.0
opencv-contrib-python-headless==4.2.0.34
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5

 
